body {
    background: linear-gradient(-45deg, rgb(73, 73, 73), rgb(17, 17, 17));
	background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    
	perspective: 340px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}