body {
    background: linear-gradient(-45deg, rgb(40,40,40), rgb(0,0,0));
	background-size: 100% 100%;
    animation: gradient 5s ease infinite;
    
	perspective: 340px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-image: url('space.jpg');
    filter: blur(20px);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}